.App {
  text-align: top;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1F6D36;
}

.Tab-Bar{
  background-color: #1F6D36 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SIFM */
.VendorList li{
  margin-top: 10px;
}

.Baker,
.Farmer,
.Maker,
.Pets, 
.Spa{
  color: black;
}
.Baker{
  background-color: peachpuff;
}
.Farmer{
  background-color: palegreen;
}
.Foods{
  background-color: forestgreen;
}
.Maker{
  background-color: lavender;
}
.Pets{
  background-color: khaki;
}
.Spa{
  background-color: paleturquoise;
}
